/* Reset Code Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
/* Reset Code End */
/* Header Section Code Start */
.banner-section{
    width: 80%;
    height: 71vh;
    margin: 0 auto;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(./images/banner-image.png);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px;
    color: white;
    text-align: center;
    align-content: center;
}

.banner-section h4{
    font-size: 35px;
    font-weight: 400;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    margin-bottom: 20px;
}
.banner-section h2{
    width: 50%;
    margin: 0 auto;
    font-size: 65px;
    font-weight: 700;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    margin-bottom: 15px;
}
/* Header Section Code End */
/* 65Percent-Offer Section Code Start */
.sixty-five-percent-off{
    width: 802px;
    height: 806px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}
.sixty-five-percent-off h1{
    font-size: 80px;
    font-weight: 700;
    color: #FF0000;
    margin-bottom: 20px;
}
.sixty-five-percent-off p{
    color: #FF0000;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.sixty-five-percent-off h3{
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.sixty-five-percent-off {

}
/* 65Percent-Offer Section Code End */