/* Reset Code Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
/* Reset Code End */
/* Header Section Code Start */
.banner-section {
  width: 80%;
  height: 71vh;
  margin: 0 auto;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(./images/banner-image.png);
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  color: white;
  text-align: center;
  align-content: center;
}

.banner-section h4 {
  font-size: 35px;
  font-weight: 400;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
.banner-section h2 {
  width: 50%;
  margin: 0 auto;
  font-size: 65px;
  font-weight: 700;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}
/* Header Section Code End */
/* 65Percent-Offer Section Code Start */
.sixty-five-percent-off {
  width: 802px;
  height: 806px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
.sixty-five-percent-off h1 {
  font-size: 80px;
  font-weight: 700;
  color: #ff0000;
  margin-bottom: 20px;
}
.sixty-five-percent-off p {
  color: #ff0000;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.sixty-five-percent-off h3 {
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
}
/* 65Percent-Offer Section Code End */
/* Parti Details Section Code Start */
.midnight-party {
  margin-top: 200px;
  margin-bottom: 200px;
}
.midnight-party .parent-div {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(images/Vectorrr.png);
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  width: 80%;
  height: 72vh;
  margin: 0 auto;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
}
.midnight-party .details-div {
  width: 50%;
  margin-left: 30px;
}
.midnight-party .details-div h2 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 11%;
  line-height: 80px;
  margin-bottom: 24px;
}
.midnight-party .details-div p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 48px;
}
.midnight-party .details-div span {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.midnight-party .images-div img {
  width: 300px;
  height: 454px;
}

.party-place-date-time {
  width: 80%;
  height: 482px;
  margin: 0 auto;
  background-image: linear-gradient(#ffe9e9, #fffcfc);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  text-align: center;
}
.place-parent-div p {
  font-weight: 600;
  font-size: 32px;
  line-height: 56px;
  margin-bottom: 48px;
}
.place-parent-div span {
  color: #ff0000;
}
.place-parent-div button {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 16px 32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.place-parent-div button:hover {
  background-color: #ec1313c4;
}
/* Parti Details Section Code End */
/* Coming Soon Section Code Start */
.coming-son-section {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.coming-soon-parent-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.coming-first-div {
  width: 30%;
  padding: 0 auto;
  text-align: justify;
}
.coming-first-div h5 {
  font-size: 22px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  color: #ff0000;
  padding-bottom: 16px;
}
.coming-first-div h3 {
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 22px;
}
.coming-first-div p {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #07021199;
}
.coming-second-div {
  width: 30%;
}
.images-circle-div {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 10px solid #ff0000;
}
.images-circle-div img {
  width: 100%;
  padding: 30px;
}
.coming-third-div {
  width: 30%;
  padding: 0 10px;
  text-align: justify;
}
.coming-third-div h3 {
  color: #ff0000;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 16px;
}
.coming-third-div p {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #07021199;
  padding-bottom: 40px;
}
/* Coming Soon Section Code End */
/* Holiday Section Code Start */
.holiday-section {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
  padding-top: 100px;
}
.holiday-parent-container {
}
.holiday-title-div {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.holiday-title-div h4 {
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  padding-bottom: 16px;
}
.holiday-title-div h2 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 70px;
  margin-bottom: 28px;
}
.holiday-title-div span {
  color: #ff0000;
}
.holiday-offer-images {
  position: relative;
  margin-top: 100px;
}
.holiday-offer-images img {
  padding-top: 500px;
  width: 100%;
}
.holiday-child-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 20px;
  z-index: 5;
}
/* Holiday Section Code End */
/* Awesome Portfolio Section Code Start */
.awesome-portfolio {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.awesome-portfolio-title {
  width: 70%;
}
.awesome-portfolio-title h6 {
  text-transform: uppercase;
  font-size: 24px;
  color: #ff0000;
  padding-bottom: 16px;
}
.awesome-portfolio-title h2 {
  font-size: 45px;
  font-weight: 700;
  line-height: 60px;
  padding-bottom: 22px;
}
.awesome-portfolio-title p {
  color: #07021199;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 48px;
}
.awesome-portfolio-images {
  /* width: 424px;
  height: 450px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.awesome-portfolio-images img {
  width: 364px;
  height: 350px;
}
/* Awesome Portfolio Section Code End */
/* Subcribe Section Code Start */
.subcribe-newsletter {
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff2f2;
  margin-bottom: 100px;
}
.subcribe-parent-container {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.subcribe-parent-container img {
  width: 150px;
  height: 150px;
  margin-bottom: 40px;
}
.subcribe-parent-container h3 {
  font-family: Merriweather;
  font-size: 45px;
  font-weight: bold;
  line-height: 60px;
  margin-bottom: 22px;
}
.subcribe-parent-container p {
  color: 20px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(7, 2, 17, 0.6);
  margin-bottom: 45px;
}
.subcribe-email {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subcribe-email input {
  padding: 10px 0;
}
.subcribe-email input[type="email"] {
  width: 40%;
  padding: 15px 0;
  border: none;
  background-color: #fff;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.subcribe-email input::placeholder {
  font-size: 20px;
  font-weight: 400;
  padding-left: 20px;
}
.subcribe-email input[type="submit"] {
  width: 20%;
  background-color: #ff0000;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 400;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
/* Subcribe Section Code End */
